<main>
    <p>
        According to Merriam-Webster, the definition of a palindrome is: a word, verse, or sentence (such as "Able was I ere I saw Elba") 
        or a number (such as 1881) that reads the same backward or forward.  This website analyzes the text inputted below by you to see if it
        is a palindrome or not.  
    </p>
    <form action="/result" method="post" name="text-to-test">
        <label for="palindrome">Input a Palindrome to be Evaluated:</label>
        <input type="text" id="palindrome" name="palindrome">
        <button type="submit">Evaluate</button>
    </form>
</main>