<main>
    <h1>Login to your account!</h1>
    <form id="login-form" method="POST" action="/login">
        Enter Username: <br>
        <input type="text" name="username"> <br>
        Enter Password: <br>
        <input type="text" name="password"> <br>
        <input type="submit" value="Login">
    </form>
    {{error}}
</main>